

<form [formGroup]="editForm" (ngSubmit)="onUpdate()" class="activity-body">
  <input
          type="text"
          pInputText
          id="task-input"
          class="p-inputtext-sm"
          formControlName="description">

  <div class="activity-body__right">
    <a><i class="pi pi-tag"></i></a>
    <a (click)="onBillable()">
      <i class="pi pi-dollar" [ngStyle]="{'color': editForm.get('isBillable')?.value ? '#F8DE7E' : '#b8b8b8'}"></i>
    </a>
    <p-calendar
            [timeOnly]="true"
            id="time"
            (onClickOutside)="countDifference()"
            formControlName="startTime"></p-calendar>

    <p-calendar
            [timeOnly]="true"
            id="time"
            (onClickOutside)="countDifference()"
            formControlName="endTime"></p-calendar>

    <p-calendar
            [timeOnly]="true"
            [showSeconds]="true"
            id="timer"
            formControlName="activeTime"
            (click)="onSetActiveTime()"></p-calendar>

    <button pButton type="submit" class="p-button-raised p-button-rounded" icon="pi pi-check"></button>
  </div>

</form>


