#time{
  width: 7%;
}

.activity-body{
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}
.activity-body input{
  width: 54%;
  border: none;
  padding: .3rem;
}

.activity-body__right{
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin-left: 1rem;
}

.activity-body__right #time{
  width: 18%;
}
.activity-body__right #timer{
  width: 20%;
}


.activity-body input{
  font-size: 1.2rem;
  font-weight: 500;
}
