.container{
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  background: #fff;
  padding: .6rem;
  border-radius: .3rem;
  border: 1px solid #c6d2d9;
  box-shadow: 0 0 20px #0000001a;
}

form{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#task-input{
  width: 55%;
  border: none;
}

.timer-container{
  display: flex;
}

#add-button{
  font-weight: 500;
  background: #A51CBD;
  border: none;
}

.switch-icons{
  margin-left: .8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.switch-icons i{
  font-size: .8rem;
  color: #b8b8b8;
}

#time{
  width: 7%;
}

#timer{
  width: 8%;
}

@media (max-width: 1250px){
  #task-input{
    width: 45%;
  }
  #time{
    width: 9%;
  }

  #timer{
    width: 10%;
  }
}

@media (max-width: 1040px){
  #task-input{
    width: 35%;
  }
  #time{
    width: 11%;
  }

  #timer{
    width: 12%;
  }
}