<div class="container">
  <form [formGroup]="newActivityForm" (ngSubmit)="onAdd()">
      <input
        type="text"
        pInputText
        id="task-input"
        class="p-inputtext-sm"
        placeholder="What have you worked on?"
        formControlName="description">

    <a><i class="pi pi-tag"></i></a>
    <a>
      <i class="pi pi-dollar"
         (click)="onBillable()"
         [ngStyle]="{'color': isBillable ? '#F8DE7E' : '#b8b8b8'}"></i>
    </a>

    <p-calendar
      id="time"
      [timeOnly]="true"
      (onClickOutside)="countDifference()"
      formControlName="startTime"></p-calendar>

    <p-calendar
      id="time"
      [timeOnly]="true"
      (onClickOutside)="countDifference()"
      formControlName="endTime"></p-calendar>

    <p-calendar
      id="timer"
      [timeOnly]="true"
      [showSeconds]="true"
      (click)="onSetActiveTime()"
      formControlName="activeTime"></p-calendar>

    <div *ngIf="isManual">
      <button
        pButton
        type="submit"
        id="add-button"
        [disabled]="!newActivityForm.valid">Add</button>
    </div>

    <div *ngIf="!isManual">
      <button
        pButton
        type="submit"
        [disabled]="!newActivityForm.valid"
        (click)="onStart()"
        *ngIf="!isStarted">Start</button>

      <button
        pButton
        type="submit"
        [disabled]="!newActivityForm.valid"
        *ngIf="isStarted"
        (click)="onStop()">Stop</button>
    </div>
  </form>


  <section class="timer-container">
    <div class="switch-icons">
      <a (click)="toTimer()"><i class="pi pi-clock"></i></a>
      <a (click)="toManual()"><i class="pi pi-list"></i></a>
    </div>
  </section>

</div>

<p-toast position="bottom-right"></p-toast>

