input{
    display: block;
    margin: 6rem auto 4rem auto;
    background: transparent;
    border: none;
    border-bottom: 2px solid #AB94A8;
    outline: none;
    width: 40%;
    color: #b8b8b8;
    font-size: 1.2rem;
    padding-left: .4rem;
    padding-right: 1rem;
}