<div class="activity-header-container">
  <p *ngIf="!isTodayActivity">{{ dateOfCreation | date: 'dd.MM.YYYY' }}</p>
  <p *ngIf="isTodayActivity">Today</p>
  <p>{{activeTime | date:'HH:mm:ss'}}</p>
</div>
