.activity-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e4eaee;
  color: #a7a7a7;
  padding: 1rem;
  border-radius: .4rem .4rem 0 0;
}

.activity-body__right{
  display: flex;
}
