*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #3C4042;
  height: 100vh;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

a{
  cursor: pointer;
}

#task-input::placeholder{
  color: #b8b8b8;
  font-weight: 500;
}

.activity-body{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  color: #3C4042;
}

.pi-tag,
.pi-dollar{
  color: #b8b8b8;
  font-size: 1.2rem;
  border: 1px dashed #b8b8b8;
  padding: .8rem;
  border-radius: .3rem;
}


