  <section class="activity-list"
           *ngFor="let activity of activities$ | async | filter:filterInput">

    <app-list-header [activity]="activity"></app-list-header>

    <p-inplace>
      <ng-template pTemplate="display">
        <app-activity [activity]="activity"></app-activity>
      </ng-template>

      <ng-template pTemplate="content">
        <app-edit [activity]="activity"></app-edit>
      </ng-template>
    </p-inplace>
  </section>

<p-toast position="bottom-right"></p-toast>

