.activity-body{
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.activity-body__right{
    display: flex;
    align-items: center;
}

.activity-body__right small {
    font-size: 1rem;
    margin-right: 1rem;
}
.pi-tag,
.pi-dollar{
    margin-right: 2rem
}

h3{
    margin-right: 1rem;
}


.activity-body p{
    font-size: 1.1rem;
    font-weight: 500;
}
