<section class="activity-body">
    <p>{{ activity.description }}</p>
    <section class="activity-body__right">
        <a><i class="pi pi-tag"></i></a>
        <a>
            <i class="pi pi-dollar"
               [ngStyle]="{'color': activity.isBillable ? '#F8DE7E' : '#b8b8b8'}"></i>
        </a>
        <small>{{ activity.start * 1000 | date:'HH:mm' }} - {{ activity.end * 1000 | date: 'HH:mm' }}</small>
        <h3>{{ (activity.end * 1000 - activity.start * 1000) - (3600*1000) | date:'HH:mm:ss'}}</h3>
        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="onDelete(activity.activityId)"></button>
    </section>
</section>